VITE_CONTRACT_ADDRESS=c5f76edd6ac17076b4fca57218c01fb5e88f9b66248c0bb665b5fc0ab2bb6774
VITE_NETWORK=preprod
VITE_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_DEBUG=0
# Set to 1 for real Preprod callTx via Lace + local proof-server:8.1.0
VITE_USE_CHAIN=0
